body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.websitediv{
    padding: 5vh 10vw;
}

.cvpage{
    padding: 5vh 10vw;

}

h1{
    font-size: 5em;
    font-weight: 500;
    margin-bottom: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

h2{
    font-size: 34px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.4;
}
.travis{
    width: 300px;
}
.trump-tower{
    width: 300px;
}

header::after{
    display: table;
}
.topnav{
    width: 80%;
    margin: 0 auto;
    display: block;
}
nav{
    float: right;
    display: block;
}

nav ul{
    margin: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    font-size: 30px;
}

nav ul li a{
    color: #121314;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:hover{
    color: #C0C0C0;
}




.interndate{
    margin-top: 0;
}

.education{
    font-size: 20px;
    display: block;
}


.cvpage ul{
    line-height: 130%;
    width: 75%;
}

.musicoffractals{
    line-height: 130%;
}

.irreversibilityofprocesses{
    line-height: 130%;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;

}

    .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
    
    .fa-linkedin {
        background: #3B5998;
        color: white;
    }

    .fa-github {
        background: #3B5998;
        color: white;
    }

    /* Add a hover effect if you want */
x.fa:hover {
    opacity: 0.7;
}


.githubicon{
    color: black;
}

.githubicon:hover{
    color: grey;
}

.linkedinicon{
    color: black;
    size: 200%;
}

.linkedinicon:hover{
    color: grey;
}

.githublink{
    text-decoration: none;
    color: black;

    }

.githublink:hover{
    color: grey;
    
}

.linkedinlink{
    text-decoration: none;
    color: black;
}

.linkedinlink:hover{
    color: grey;
}

.GITHUB{
    font-size: 50px;
}

.LINKEDIN{
    font-size: 50px;
}


.intro{
    width: 60%;
}

.body1{
    width: 60%;
}

.body2{
    width: 60%;
}

.socmedia{
    padding: 10vw 10vw;
    text-align: center;
}

.socmedialist{
    list-style: none;

}
.socmedialist a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.socmedialist li{
    align-items: center;
    line-height: 200%;
    font-size: 30px;
}

.socmedialist a:hover{
    color: grey;
}

.socmediapic{
    width: 70px;
    border-radius: 40%;
    color: black;
}

.copyright{
    color:  lightgrey;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 90%;
    left: 85%;
}